.settings
  padding: 1.87rem
  font-family: 'Lato', sans-serif
  // display: flex
  // justify-content: center
  // align-items: center
  // flex-direction: column
  text-align: center
  border-radius: 10px
  // box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px

.settings_wrap
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.title_h1
  font-size: 2.5rem
  font-weight: bold
  margin-bottom: 1.25rem

.title_h2
  font-size: 1.25rem
  font-weight: bold
  margin-bottom: 1.25rem

.paragraph
  color: var(--text-color)
  font-size: 1rem
  display: flex
  justify-content: center
  align-items: center
  gap: 10px

.link:hover
  color: var(--hover-color)

.link:visited
  color: var(--text-color)
  text-decoration: none

.toggle_wrapper
  position: relative
  margin-bottom: 1.25rem
  display: flex
  justify-content: center
  align-items: center
  gap: 1.25rem

.select_days
  background-color: var(--background-color)
  color: var(--text-color)
  width: 200px
  height: 30px
  font-size: 1rem
  border: 1px solid #ccc
  border-radius: 5px
  padding: 0.3rem
  margin-bottom: 1.25rem

.input_checkbox
  width: 30px
  height: 30px

  // 

.checkbox_wrapper_19
  box-sizing: border-box
  --background-color: #fff
  --checkbox-height: 30px

.input
  display: none

.label
  height: var(--checkbox-height)
  width: var(--checkbox-height)
  background-color: transparent
  border: calc(var(--checkbox-height) * 0.1) solid var(--text-color)
  border-radius: 5px
  position: relative
  display: inline-block
  box-sizing: border-box
  transition: border-color ease 0.2s
  cursor: pointer

  &::before,
  &::after
    box-sizing: border-box
    position: absolute
    height: 0
    width: calc(var(--checkbox-height) * 0.2)
    background-color: var(--hover-color)
    display: inline-block
    transform-origin: left top
    border-radius: 5px
    content: " "
    transition: opacity ease 0.5s

  &::before
    top: calc(var(--checkbox-height) * 0.72)
    left: calc(var(--checkbox-height) * 0.41)
    // box-shadow: 0 0 0 calc(var(--checkbox-height) * 0.05) var(--background-color)
    transform: rotate(-135deg)

  &::after
    top: calc(var(--checkbox-height) * 0.37)
    left: calc(var(--checkbox-height) * 0.05)
    transform: rotate(-45deg)

  &.checked,
  input[type='checkbox']:checked + &
    border-color: var(--hover-color)

  &.checked::after,
  input[type='checkbox']:checked + &::after 
    height: calc(var(--checkbox-height) / 2)
    animation: dothabottomcheck-19 0.2s ease 0s forwards

  &.checked::before,
  input[type='checkbox']:checked + &::before 
    height: calc(var(--checkbox-height) * 1.2)
    animation: dothatopcheck-19 0.4s ease 0s forwards

@keyframes dothabottomcheck-19
  0%
    height: 0

  100%
    height: calc(var(--checkbox-height) / 2)

@keyframes dothatopcheck-19
  0%
    height: 0

  50%
    height: 0

  100%
    height: calc(var(--checkbox-height) * 1.2)

  // 

.theme_toggle
  background-color: var(--background-color-button)
  border-radius: 4px
  border-style: none
  box-sizing: border-box
  color: var(--text-color)
  cursor: pointer
  display: inline-block
  font-size: 16px
  font-weight: 700
  line-height: 1.5
  margin: 0
  max-width: none
  min-height: 44px
  min-width: 10px
  outline: none
  overflow: hidden
  padding: 9px 20px 8px
  position: relative
  text-align: center
  text-transform: none
  user-select: none
  -webkit-user-select: none
  touch-action: manipulation

.theme_toggle:hover
  background-color: var(--hover-color)
  color: var(--white-color)

.sun_icon
  width: 44px
  height: 44px
  color: var(--yellow-icon-color)

.moon_icon
  width: 44px
  height: 44px
  color: var(--greylight-color)

.hr
  margin-top: 2rem
  margin-bottom: 2rem
  max-width: 400px

@media (max-width: 768px)
  .settings
    padding: 1rem

  .title_h1
    font-size: 1.25rem

  .title_h2
    font-size: 0.9rem

  .paragraph
    font-size: 0.8rem
