$white-color: #fff
$yellow-color: #ff9b27

.flex_container
  justify-content: center
  gap: 0.6rem
  align-items: center
  margin-left: 1rem

.burger_icon
  width: 20px
  height: 20px
  color: $white-color
  cursor: pointer

.btn
  display: none
  cursor: pointer
  border: 0
  border-radius: 4px
  font-weight: 600
  margin: 0 0.6rem
  width: 100px
  padding: 0.6rem 0
  box-shadow: 0 0 20px rgba($yellow-color, 0.2)
  transition: 0.4s

.reg
  color: $white-color
  background-color: rgba($yellow-color, 1)

.log
  color: $yellow-color
  background-color: rgba(255, 255, 255, 1)
  border: 1px solid rgba($yellow-color, 1)

.btn:hover
  color: $white-color
  box-shadow: 0 0 20px rgba($yellow-color, 0.6)
  background-color: rgba($yellow-color, 1)

@media (min-width: 769px)
  .flex_container
    display: none

@media (max-width: 768px)
  .flex_container
    display: flex
