footer
  background-color: #2C2C32
  height: 12vh
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

  .footer
    font-family: 'Lato', sans-serif
    width: 85%
    flex: 1
    display: flex
    align-items: center
    justify-content: center
    gap: 40px
    margin: 0 auto
    height: 12vh
    padding: 0

  .link
    color: #636363
    cursor: pointer
    border-bottom: none
    font-size: 40px

  .link:hover
    color: #ff9b27
