$yellow-color: #ff9b27
$background-color: #2C2C32
$grey-color: #636363

footer
  background-color: $background-color
  // height: 12vh
  // height: 80px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  border: 1px solid white

  .footer
    font-family: 'Lato', sans-serif
    width: 85%
    flex: 1
    display: flex
    align-items: center
    justify-content: center
    gap: 2.5rem
    margin: 0 auto
    // height: 12vh
    // height: 80px
    padding: 0

  .link
    color: $grey-color
    cursor: pointer
    border-bottom: none
    font-size: 2.5rem

  .link:hover
    color: $yellow-color

@media (max-width: 320px)
footer
  height: 15vh
  .footer
    gap: 2rem
    height: 15vh
