@import 'reset.sass'

body
  font-family: 'Lato', sans-serif
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../../public/images/gory_skaly_sneg_189555_1920x1080.jpg')
  background-size: cover
  background-position: center
  // background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent), url('../../public/images/gory_skaly_sneg_189555_1920x1080.jpg')

.container
  color: white
  margin: 0 auto
  max-width: 1440px
  min-height: calc(100vh - 80px - 100px)
  padding-top: 1.5rem
  padding-bottom: 1.5rem
