$yellow-color: #ff9b27
$background-color: #2C2C32
$white-color: #fff

header
  background-color: $background-color
  height: 12vh
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  padding: 2rem 0

  .header
    font-family: 'Lato', sans-serif
    width: 85%
    flex: 1
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 auto
    height: 12vh
    padding: 0

    .header__logo
      display: flex
      align-items: center
      gap: 1rem
      img
        color: $yellow-color
        border-radius: 15%

      span
        display: inline-block
        color: $white-color
        font-size: 1.2rem
        font-weight: 500
        line-height: 28.5px

    .nav > a
      font-size: 1.2rem
      font-weight: 500
      color: $white-color
      text-decoration: none
      padding: 0 1rem
      cursor: pointer
      display: inline-block
      line-height: 28.5px

    a:hover
      color: $yellow-color
      // text-decoration: underline

  .active
    color: $yellow-color!important
    cursor: default

@media (min-width: 769px)
  .nav
    display: flex

@media (max-width: 768px)
  .nav
    display: none

@media (max-width: 378px)
  header
    height: 18vh
    .header
      height: 18vh
