header
  background-color: #2C2C32
  height: 10vh
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
    // padding: 2rem 0

  .header
    width: 85%
    flex: 1
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 auto
    height: 10vh
    padding: 0

    .header__logo
      display: flex
      align-items: center
      gap: 15px
      img
        color: #ff9b27
        border-radius: 15%

      span
        color: white

    .nav
      display: flex

    .nav > a
      color: white
      text-decoration: none
      padding: 0 1rem

      a:hover
        color: #ff9b27
        text-decoration: none

  .active
    color: #ff9b27!important
    cursor: default
