// .weather_forecast
//   background-color: #f1f6ff
//   border-radius: 10px
//   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px
//   padding: 20px
//   margin: 1rem

//   .wrapper
//     display: flex
//     flex-direction: column
//     gap: 10px

//   .title_h2
//     font-size: 20px
//     font-weight: bold
//     margin-bottom: 10px
//     text-align: center

//   .weather_icon
//     margin: 0 auto
//     font-size: 32px
//     color: #408cd2

//   .text
//     display: inline-block
//     font-weight: bolder
//     text-align: center
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900)

.weather_wrapper
  margin-top: 20px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center

.weather_card
  padding: 20px
  margin: 20px 5px
  border-radius: 20px
  position: relative
  overflow: hidden
  width: 250px
  height: 250px
  background-color: white
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1)
  animation: appear 500ms ease-out forwards

  h1
    position: absolute
    font-family: 'Lato', sans-serif
    font-weight: 300
    font-size: 30px
    color: #B8B8B8
    bottom: 40px
    left: 35px
    opacity: 0
    transform: translateX(150px)
    animation: title-appear 500ms ease-out 500ms forwards

  .weather_parametrs
    position: absolute
    display: flex
    flex-direction: column
    gap: 2px
    font-family: 'Lato', sans-serif
    font-weight: 300
    font-size: 20px
    color: #B8B8B8
    top: 20px
    left: 30px
    opacity: 0
    transform: translateX(150px)
    animation: title-appear 500ms ease-out 500ms forwards

  p
    position: absolute
    font-family: 'Lato', sans-serif
    font-weight: 300
    font-size: 28px
    color: lighten(#B8B8B8, 10%)
    bottom: 5px
    left: 35px
    animation: title-appear 1s ease-out 500ms forwards

.weather_icon
  position: relative
  width: 60px
  height: 60px
  top: -20px
  left: 20px
  float: right
  margin: 40px 40px 0 0
  animation: weather-icon-move 5s ease-in-out infinite

  .icon_rain
    width: 60px
    height: 60px
    color: #2092A9

  .icon_cloud
    width: 60px
    height: 60px
    color: grey

  .icon_sun
    width: 60px
    height: 60px
    color: #FFCD41

  .icon_snow
    width: 60px
    height: 60px
    color: darken(#C8DAE6, 5%)

  .icon_wind
    width: 60px
    height: 60px
    color: darken(#C8DAE6, 5%)

@keyframes weather-icon-move
  50%
    transform: translateY(-8px)

@keyframes appear
  0%
    transform: scale(0)

  50%
    transform: scale(1.05)

  75%
    transform: scale(0.95)

  100%
    transform: scale(1)

@keyframes title-appear
  from
    opacity: 0
    transform: translateX(150px)

  to
    opacity: 1
    transform: translateX(0px)
